# Core Libraries
Flask==2.2.2
tensorflow==2.11.0
numpy==1.23.5
opencv-python-headless==4.6.0.66
requests==2.28.1

# Kafka
kafka-python==2.0.2

# MQTT
paho-mqtt==1.6.1

# Optional: For handling concurrent futures
concurrent.futures==3.1.1

# Optional: Additional libraries for utilities
pyyaml==6.0
pandas==1.5.2
