[Unit]
Description=MQTT Boat data Generator
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Sample-Data-Generator
ExecStart=/root/Sample-Data-Generator/venv/bin/python3 /root/Sample-Data-Generator/data_generator_main.py \
  --sleep 30 \
  --offset-sleep 0.5 \
  --data-conn anyloguser:mqtt4AnyLog!@172.104.228.251:1883 \
  --db-name anotherpeak \
  --skip-msg-client \
  --repeat 0 vessel mqtt

Restart=on-failure
RestartSec=5
StartLimitIntervalSec=60
MemoryMax=200M
CPUQuota=50%


[Install]
WantedBy=multi-user.target
