[Unit]
Description=MQTT Vessel Generator
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Sample-Data-Generator
ExecStart=/root/Sample-Data-Generator/venv/bin/python3 /root/Sample-Data-Generator/data_generator.py \
  rigs \
  --method mqtt \
  --conn anyloguser:mqtt4AnyLog!@172.104.228.251:1883 \
  --db-name rigs \
  --wait-time 1 \
  --iterations 0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
