[Unit]
Description=MQTT Wind Turbine Generator (I)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Sample-Data-Generator
ExecStart=/root/Sample-Data-Generator/venv/bin/python3 /root/Sample-Data-Generator/data_generator_main.py \
  --sleep 180 \
  --data-conn anyloguser:mqtt4AnyLog!@172.104.228.251:1883 \
  --db-name wind_turbine \
  --skip-msg-client \
  --repeat 0 wind-turbine mqtt
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
