[Unit]
Description=MQTT ProveIt Generator
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/Sample-Data-Generator
ExecStart=/root/Sample-Data-Generator/venv/bin/python3 /root/Sample-Data-Generator/data_generator_main.py \
  --sleep 1 \
  --data-conn anyloguser:mqtt4AnyLog!@172.104.228.251:1883 \
  --skip-msg-client \
  --db-name proveit \
  --proveit-topic "Enterprise A" \
  --repeat 0 proveit mqtt
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
